node_modules/
.pnpm-store/
dist/
build/
.env
.env.*
!.env.example
.env.local
*.log
.DS_Store
*.psd
*.psb
*.png
*.jpg
*.jpeg
*.zip
.remirdy/
exports/
/examples/**/*.png
/examples/**/*.psd
coverage/
.turbo/
*.tsbuildinfo
